{% extends 'partials/base.html.twig' %}
{% block content %}
{% for post in page.find('/blog').children.order('order', 'date', 'desc').slice(0, 5000)|reverse %}

{% if loop.index % 4 == 0 and post.published == true %}
<a style="color:black;" href="{{ post.url }}">
 <p class="alert alert-info"> {{ post.title }} </p></a>
{% endif %}
{% if loop.index % 4 == 1 and post.published == true %}
<a style="color:black;" href="{{ post.url }}">
 <p class="alert alert-danger"> {{ post.title }} </p></a>
{% endif %}
{% if loop.index % 4 == 2 and post.published == true %}
<a style="color:black;" href="{{ post.url }}">
 <p class="alert alert-warning"> {{ post.title }} </p></a>
{% endif %}
{% if loop.index % 4 == 3  and post.published == true %}
<a style="color:black;" href="{{ post.url }}">
 <p class="alert alert-success"> {{ post.title }} </p></a>
{% endif %}



{% endfor %}
{% endblock %}