{% extends 'base.html.twig' %}
{% block content %}
<div id="progress-bar"></div>
<div class="panel">
    <div class="panel-head align-right">
         <h1 class="alert alert-title" style="color:black;"> {{ page.title }} </h1>
     </div>

    <div class="panel-body" style=" text-align: justify; text-justify: inter-word;">
        {{ page.content|raw }}
         {% for p in page.taxonomy.tag %}
            <button class="button-footer button-small"  style="color:white;" onclick="window.location.href='/tags/{{p}}';">{{ p }}</button>
         {% endfor %}
    </div>
    <div class="panel-footer align-right ">
        نوشته شده توسط
         {% if page.header.author %}
            {{page.header.author|e}}
         {% else %}
            {{site.author.name|e}}
         {% endif %}
در
         {{page.header.pdate|e}}
         </br>
          ویرایش شده در
         {% if page.header.edate %}
         {{page.header.edate|e}}
         {% else %}
         {{page.header.pdate|e}}
         {% endif %}

    </div>
</div>
{% endblock %}
