{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="container container-small-white">
    <h1 class="alert alert-title"> {{ page.title }} </h1>
<hr class="mima">
</br>
<ol>
    {% for post in page.collection.order('order', 'date', 'desc').slice(0, 100)%}
<a href={{post.url}}>
<li style="display:flex; justify-content:space-between; font-size:100%; font-weight:200; text-align:right">
{{ post.title|truncate(400)|raw }}
</li>
{% set blog_image = post.media.images|first %}
{#<img src="{{blog_image.url|e}}"/>
<p class="alert alert-title" style="text-align:right;" > 
 </p>
<div style="display:flex; justify-content:space-between; font-size:80%; text-align:right">
{{post.header.pdate|e}}
</div>
#}
</a>
{#
            <div class="col col-md-12">
                <div class="panel" >
                    <div class="panel-head align-right">
                        <h2 class="alert alert-title" style="color:black;"> <a href="{{ post.url }}" style="color:black">{{ post.title }}</a> </h2>
                        <p class="panel-title">
	زمان مطالعه: 
{{ post.content|readingtime({'format': '{minutes_short_count} {minutes_text} و {seconds_short_count} {seconds_text}', 'minutes_label': 'دقیقه', 'minute_label': 'دقیقه', 'seconds_label': 'ثانیه', 'second_label': 'ثانیه', }) }}
                        </p>
                    </div>
                    <div class="panel-body" style=" text-align: justify; text-justify: inter-word;">
                        {{ post.summary|raw }}
                        <p class="align-center">
                        <a href="{{post.url}}" class="align-center" aria-label="Read more"><svg alt="readid="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="64px" height="64px"><defs><style>.cls-1,.cls-2,.cls-3{fill-rule:evenodd;isolation:isolate;}.cls-1{opacity:1;}.cls-2{opacity:0.97;}.cls-3{opacity:0.99;}</style></defs><path class="cls-1" d="M511.5,114.5v12a16.16,16.16,0,0,1-9,8.5q-157,1-314,0Q175,127.28,181,112.5a15.43,15.43,0,0,1,7.5-6.5q157-1,314,0A16.16,16.16,0,0,1,511.5,114.5Z"/><path class="cls-2" d="M-.5,261.5v-12a16.1,16.1,0,0,1,9-8.5l148-1A496.21,496.21,0,0,1,120,201.5q-3.75-24.25,20.5-20.5l5,3L206,244.5q7,11,0,22L145.5,327q-11.43,7.19-22.5-.5-7-11,0-22L156.5,271l-148-1A16.1,16.1,0,0,1-.5,261.5Z"/><path class="cls-3" d="M511.5,204.5v12a16.16,16.16,0,0,1-9,8.5q-127,1-254,0Q235,217.27,241,202.5a15.43,15.43,0,0,1,7.5-6.5q127-1,254,0A16.16,16.16,0,0,1,511.5,204.5Z"/><path class="cls-3" d="M511.5,294.5v12a16.16,16.16,0,0,1-9,8.5q-127,1-254,0Q235,307.28,241,292.5a15.43,15.43,0,0,1,7.5-6.5q127-1,254,0A16.16,16.16,0,0,1,511.5,294.5Z"/><path class="cls-1" d="M511.5,384.5v12a16.16,16.16,0,0,1-9,8.5q-157,1-314,0Q175,397.28,181,382.5a15.43,15.43,0,0,1,7.5-6.5q157-1,314,0A16.16,16.16,0,0,1,511.5,384.5Z"/></svg></a>
                        </p>
                        
                        <div class="align-center">
                            <a href="{{ post.url }}" class="button button-brand">ادامهٔ مطلب ... </a>
                        </div>
                        </br>
                        {% for tag in post.taxonomy.tag %}
                            <button class="button-footer button-small"  style="color:white;" onclick="window.location.href='/tags/{{ tag }}';">{{ tag }}</button>
                        {% endfor %}
                        
                    </div>
                    <div class="panel-footer align-right">
نوشته شده توسط
                        {% if post.header.author.name %}
                            <a href="{{post.header.author.url|e}}">{{post.header.author.name|e}}</a>
                        {% else %}
			    <a href="{{site.author.url|e}}">{{site.author.name|e}}</a>
                        {% endif %}
در
                        {{post.header.pdate|e}}
                        </br>
                         ویرایش شده در
                        {% if post.header.edate %}
                        {{post.header.edate|e}}
                        {% else %}
                        {{post.header.pdate|e}}
                        {% endif %}
                    </div>
                </div>
            </div>
#}
        {% endfor %}
<ol>
{# pagination plugin #}
{% set collection = page.collection() %}

{# Render the list of blog posts (automatically filtered when using pagination) #}
{#
{% for child in collection %}
   ...
{% endfor %}
#}
{# Render the pagination list #}
{% if config.plugins.pagination.enabled and collection.params.pagination %}


    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}


{% endif %}
{# END pagination plugin #}
 </div>
{% endblock %}

