{% extends 'base.html.twig' %}
{% block content %}
    <h1 class="alert alert-title" style="color:black;"> {{ site.fa_title|e('html') }} </h1>
    <div class="row" >
        {% for post in page.collection.order('order', 'date', 'desc').slice(0, 5000)%}
            <div class="col col-md-12">
                <div class="panel" >
                    <div class="panel-head align-right">
                        <h2 class="alert alert-title" style="color:black;"> <a href="{{ post.url }}" style="color:black">{{ post.title }}</a> </h2>
                        <p class="panel-title">
                        </p>
                    </div>
                    <div class="panel-body" style=" text-align: justify; text-justify: inter-word;">
                        {{ post.summary|raw }}
                        <a href="{{post.url}}">...</a>
                        {#
                        <div class="align-center">
                            <a href="{{ post.url }}" class="button button-brand">ادامهٔ مطلب ... </a>
                        </div>
                        </br>
                        {% for tag in post.taxonomy.tag %}
                            <button class="button-footer button-small"  style="color:white;" onclick="window.location.href='/tags/{{ tag }}';">{{ tag }}</button>
                        {% endfor %}
                        #}
                    </div>
                    <div class="panel-footer align-right">
نوشته شده توسط
                        {% if post.header.author %}
                            {{post.header.author|e}}
                        {% else %}
                            {{site.author.name|e}}
                        {% endif %}
در
                        {{post.header.pdate|e}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}