<!DOCTYPE html>
<html dir="rtl" lang="fa">
{% include 'include/head.html.twig' %}
<body>
<div class="main">
{% include 'include/nav.html.twig' %}

{% if page.header.progress_bar  %}
<div id="progress-bar"></div>
{% endif %}


<section class="section-tertiary key-points align-center">
<div class="container container-small">
 {#
<ul class="breadcrumbs breadcrumbs-alt">  
<li><a href="/">خانه</a></li>
{% if page.parent.parent.parent.parent and  page.parent.parent.parent.parent.title != "Pages" %}
<li><a href="{{ page.parent.parent.parent.parent.url|e }}">{{ page.parent.parent.parent.parent.title|e }}</a></li>
{% endif %}
{% if page.parent.parent.parent and  page.parent.parent.parent.title != "Pages" %}
<li><a href="{{ page.parent.parent.parent.url|e }}">{{ page.parent.parent.parent.title|e }}</a></li>
{% endif %}
{% if page.parent.parent and  page.parent.parent.title != "Pages" %}
<li><a href="{{ page.parent.parent.url|e }}">{{ page.parent.parent.title|e }}</a></li>
{% endif %}
{% if page.parent  and page.parent.title != "Pages" %}
<li><a href="{{ page.parent.url|e }}">{{ page.parent.title|e }}</a></li>
{% endif %}
{% if page.title != "Sibiyā" %}
<li>{{page.title}}</li>
{% endif %}
</ul>
#}

{% block content %}{% endblock %}
</div>
</section>
</div>
{% include 'include/footer.html.twig' %}
{% block bottom %}
        {{ assets.js('bottom')|raw }}
{% endblock %}
</body>
</html>
