<ul class="breadcrumbs breadcrumbs-alt">  
<li><a href="/">خانه</a></li>
{% if page.parent.parent.parent.parent and  page.parent.parent.parent.parent.title != "Pages" %}
<li><a href="{{ page.parent.parent.parent.parent.url|e }}">{{ page.parent.parent.parent.parent.title|e }}</a></li>
{% endif %}
{% if page.parent.parent.parent and  page.parent.parent.parent.title != "Pages" %}
<li><a href="{{ page.parent.parent.parent.url|e }}">{{ page.parent.parent.parent.title|e }}</a></li>
{% endif %}
{% if page.parent.parent and  page.parent.parent.title != "Pages" %}
<li><a href="{{ page.parent.parent.url|e }}">{{ page.parent.parent.title|e }}</a></li>
{% endif %}
{% if page.parent  and page.parent.title != "Pages" %}
<li><a href="{{ page.parent.url|e }}">{{ page.parent.title|e }}</a></li>
{% endif %}
{% if page.title != "Sibiyā" %}
<li>{{page.title}}</li>
{% endif %}
</ul>